<footer>
     <h4> This page is created by {{author}} - copyright {{currentYear}}</h4> 
</footer>    

<!-- any data enclosed within {{}} is speific to handlebars. handlebars resolve it in two steps 

1. First it looks for any helperFunction ddefined by this name
2. If not then it look for any dunamic data declared 

-->