<html>
    <head></head>
    <body>
        {{> header}}
        <h2> About Page</h2>
        <h4> about page details has served</h4>
    
        {{> footer }} 
    </body>    
 </html>   
 