<html>
<head></head> 

<body>

    Hello to  <h2> EJS template engine </h2>
    Please find below your details 
    Your id is <%= personId %> and your name is <%= personname %>

</body>   
</html>
