extends layout

block content
  h1= title
  p Welcome to #{title}

  br
  <a class = 'link' href='/albums'>Goto Albums page </a>
  br  
  <a class = 'link' href='/artists'>Goto Artists page </a> 
  br
  <a class = 'link' href='/genres'>Goto Genres page </a> 




